.login {
  display: grid;
  place-items: center;
  height: 90vh;
  width: 100%;
}

.login > div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  text-align: center;
}

.login__logo > img {
  width: 100%;
  object-fit: contain;
  height: 250px;
}

.login > button {
  width: 300px;
  color: white;
  background-color: #45b5fa;
  font-weight: 800;
  padding: 10px;
}

.login > button:hover {
  background-color: white;
  color: #45b5fa;
  border: 1px solid #45b5fa;
}
